
/Hestabit/Week 1/Day 1/bigfile.dat
/Hestabit/Week1/Day 1/bigfile.dat
/Hestabit/Week4/day-1/node_modules/
/Hestabit/Week4/day-2/node_modules/
/Hestabit/Week3/day-4/node_modules/
/Hestabit/Week3/day-4/node_modules/

/Hestabit/Week4/day-1/.env
/week6.zip

# Python
__pycache__/
*.pyc
.venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# Env
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Model/data artifacts
*.pkl
*.png
certs/


